<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <a href="/"> Home |</a>
      <a href="https://www.youtube.com/watch?v=0U2zJOryHKQ">Youtube</a>
    </p>
    <h1>
      <%= title %>
    </h1>
    <p>
      <img src=<%= pict %>>
    </p>
    <p>
      <a href=<%= next %>>Next Thing</a>
    </p>
  </body>
</html>
