body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  align: center;
  width: 350px;
  height: 250px;
}
